$bg = rgb(0e0c10)
$bg2 = rgb(1c1920)
$fg = rgb(f5e0dc)

$accent = rgb({{ color5 | strip }})
$accent2 = rgb({{ color6 | strip }})
$urgent = rgb({{ color1 | strip }})
$muted = rgb({{ color8 | strip }})
