@define-color bg {{background}};
@define-color bg-alt {{color0}};
@define-color fg {{foreground}};
@define-color accent {{color6}};
@define-color accent-alt {{color5}};
@define-color urgent {{color1}};
@define-color muted {{color8}};
