* {
    // Launcher colors
    bg: {{background}}dd;
    bg-alt: {{color0}}ee;
    fg: {{foreground}};
    accent: {{color6}};
    accent2: {{color5}};

    // Wallpaper colors
    foreground: {{foreground}};
    background: {{background}};
    background-alt: {{color0}};
    selected-normal-background: {{color6}};
    selected-active-background: {{color5}};
    selected-urgent-background: {{color1}};
}
